<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Pet Online</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/starter-template.css" rel="stylesheet">
  </head>
  <body>
  <div class="col-lg-8 mx-auto p-3 py-md-5">
    <div class="container">
      <header class="site-header py-3">
        <div class="row justify-content-end align-items-center">
          <div class="d-flex justify-content-center col-4">
            <a class="site-header-logo text-dark text-nowrap" href="">Pet Online</a>
          </div>
          <div class="col-4 text-end">
            <a class="btn btn-sm btn-outline-secondary" href="/contato">Contato</a>
          </div>
        </div>
      </header>
    <main>
      <h1>Atividade Módulo 6 - Semana 1</h1>
      <p class="mt-5">Por Leonardo de Góes Trindade</p>
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
      Curso Python Ultima School
    </footer>
  </div>
    <script src="/static/bootstrap.bundle.min.js"></script>
  </body>
</html>