<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Pet Online</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body>
  <div class="col-lg-8 mx-auto p-3 py-md-5">
    <div class="container">
      <header class="pb-3 mb-5 border-bottom">
        <div class="row justify-content-between">
          <div class="col-4 d-flex align-items-center">
            <a class="fs-1 text-dark fw-bold text-decoration-none text-nowrap" href="">Pet Online</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-secondary" href="/contato">
              <span>Contato</span>
              <svg class="bi" width="16" height="17" fill="currentColor" viewBox="0 7 100 100">
                <use xlink:href="/static/bootstrap-icons.svg#envelope"/>
              </svg>
            </a>
          </div>
        </div>
      </header>
    <main>
      <h1>Reserve já o banho do seu pet</h1>
    </main>
    <footer class="footer text-center pt-5 my-5 text-muted border-top">
      Atividade M6S2 Ultima School por Leonardo de Góes Trindade
    </footer>
  </div>
    <script src="/static/bootstrap.bundle.min.js"></script>
  </body>
</html>