{% extends "inicial.html" %}
{% load bootstrap5 %}
{% block principal %}
<h1 class="mb-3">Fale conosco</h1>
<p>
  {% autoescape off %}
  Envie uma mensagem ou pergunta através do formulário abaixo ou ligue para o telefone: <br>
  <b>{{ telefone }}</b> para falar com um de nossos representantes.
  {% endautoescape %}
</p>
{% if sucesso %}
<p class="alert alert-success">Mensagem enviada com sucesso!</p>
{% else %}
<form action="" method="post" novalidate>
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      {% bootstrap_form form %}
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>
{% endif %}
{% endblock %}